body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-color: 	#f6eee3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body > #root > div {
  height: 100vh;
}

/* App styling */
.App {
  width: 100%;
  height: 100%;
}

/* HomePage styling */

.Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.HomePage {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.nav-animation {
  opacity: 0;
}

.start-nav-animation {
  animation: fadeInDown;
  animation-duration: 2s;
  opacity: 1;
}

.homepage-text {
  margin-top: -75rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.homepage-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0;
}

.homepage-subtitle {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0;
}

.start-home-animation {
  animation: fadeIn;
  animation-duration: 2s;
  opacity: 1;
}


/* Navbar styling */
.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px 36px;
}

.home-img {
  width: 60px;
  filter: invert(33%) sepia(74%) saturate(324%) hue-rotate(356deg) brightness(93%) contrast(89%);
}

.links {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-basis: auto;
  padding: 1px 20px;
  margin-right: auto;
  font-size: 30px;
  font-weight: 600;
  color: #795C32;
  text-align: center;
  text-transform: lowercase;
}

.link {
  margin: 10px;
  font-family: Khula, sans-serif;
  text-decoration: none;
  color: #795C32;
  cursor: pointer;
}

.link:visited {
  text-decoration: none;
  color: #795C32;
}

.ext-link-and-language {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ext-link-and-language img {
  width: 60px;
  filter: invert(33%) sepia(74%) saturate(324%) hue-rotate(356deg) brightness(93%) contrast(89%);
}

.nav_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  margin-top: 138px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: #f6eee3;
  box-shadow: rgba(149,157,165, 0.2)
  0px 8px 24px;
  color: #795C32;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.dropdown-content {
  position: relative;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6eee3;
  box-shadow: rgba(149,157,165, 0.2)
  0px 8px 24px;
  color: #795C32;
  font-size: 20px;
  font-weight: 700;
  max-height: 20vh;
  opacity: 0;
}

.content-open {
  opacity: 1;
}

.dropdown-item {
  padding: 0.5rem;
  margin: 0.1rem;
  width: 80%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #dbd0bf;;
}

/* About styling */

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.self-intro {
  font-size: x-large;
}

.self-intro-paragraph {
  width: 45rem;
}

.techstack {
  height: 31.375rem;
  width: 25rem;
  
}

.techstack img {
  height: 20%;
  width: 20%;
}

.pfp-div {
  
}

.PFP {
  border: 5px solid black;  
  width: 400px;
}

/* Projects styling */

.Projects {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: x-large;
}

.title-text {
  margin-left: 3rem;
}

.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 8rem;
}

.project-item {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20rem;
  padding: 2rem;
}

.project-text {
  width: 40%;
}

.summary {
  width: 60%;
}

.project-link-button {
  box-shadow: 2px 2px 10px black;
  border-radius: 0.635rem;
  cursor: pointer;
}

.project-link-button:hover {
  opacity: 50%;
}

.project-media {
  width: 35rem;
  
}

/* Experience Styling */
.experience {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: x-large;
  margin-left: 3rem;
}


